/* :root {
    --bg-color-body: #f8f9fa;
    --border-color-body: black;
    --bg-color: black;
    --bg-border-color: black;
    --bg-background-color: #f8f9fa;
} */

li{
	list-style: none;
	text-decoration: none;
}
.line-footer{
    height: 3px;
    width: 15%;
    background: #97D700;
    display: inline-block;
}
.footer{
    padding: 70px 0;
}
.img-logo{
    background-color: transparent;
}
/* text-light */
.text-light {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	font-size: 15px;   
    /* color: var(--bg-color)!important; */
    transition: all 0.4s;
}
.text-light.bg-color {
    color: var(--bg-color)!important;
}
.text-light:active{
    color: var(--bg-color);
}
.text-light:visited{
    color: var(--bg-color);
}
.text-light:link{
    color: var(--bg-color);
}
.text-light:hover{
    color: #626567;
}
/* social media */
.bi-facebook{
	color: var(--bg-color);
}
.bi-instagram{
	color: var(--bg-color);
}
.bi-twitter{
	color: var(--bg-color);
}
.bi-linkedin{
	color: var(--bg-color);
}
.bi-facebook:hover, .bi-instagram:hover, .bi-linkedin:hover, .bi-twitter:hover{
    color: #97D700;
}