/*************** General ***************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
/*************** Line ***************/
.line{
    height: 6px;
    width: 30%;
    background: #97D700;
    display: inline-block;
}
.line-hunger{
    height: 6px;
    width: 25%;
    background: #97D700;
    display: inline-block;
}
/*************** Main ****************/
/* image */
.img-main{  
    margin-left: 10px;
    margin-top: 80px;
    background-color: transparent;
}
/* text */
.main h1{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}
.main p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 40px;
}
.main p:nth-child(2){
    font-size: 18px;
    color: #979A9A;
}
/* button */
.mbtn1{
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    background: #979A9A;
    border-radius: 50px;
    transition: all 0.4;
    text-decoration: none;
}
.mbtn2{
    height: 50px;
    width: 25%;
    outline: none;
    border: 1.5px solid;
    background-color: transparent;
    color: black;
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn3{
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    background: #97D700;
    border-radius: 50px;
    transition: all 0.4;
    text-decoration: none;
}
/* button - style */
.mbtn1:hover, .mbtn1:active, .mbtn1:visited, .mbtn1:link{
    background-color: #B3B6B7;
    color: black;
}
.mbtn2:hover, .mbtn2:active, .mbtn2:visited, .mbtn2:link{
    background-color: #979A9A;
    border: none;
    color: white;
}
.mbtn3:hover, .mbtn3:active, .mbtn3:visited, .mbtn3:link{
    height: 50px;
    width: 25%;
    outline: none;
    border: 1.5px solid;
    background-color: transparent;
    color: #97D700;
    border-radius: 50px;
    transition: all 0.4s;
}
/*************** Hunger Data ****************/
.img-impacto-global{
    margin-left: -10px;
    margin-top: 60px;
    background-color: transparent;
}
.impacto-global h1{
    font-size: 3rem;
    font-weight: bold;
}
.impacto-global p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 40px;
}
.impacto-global p:nth-child(2){
    font-size: 18px;
    color: #979A9A;
}
/*************** Sustainable Agriculture ****************/
.img-fome-zero{  
    margin-left: 10px;
    margin-top: 80px;
    background-color: transparent;
}
.fome-zero h1{
    font-size: 3rem;
    font-weight: bold;
}
.fome-zero p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-top: 40px;
}
.fome-zero p:nth-child(2){
    font-size: 18px;
    color: #979A9A;
}