/*************** NavBar ****************/
/* @import url("style.css") root; */
/* :root {
    --bg-color-body: #f8f9fa;
    --border-color-body: black;
    --bg-color: black;
    --bg-border-color: black;
    --bg-background-color: #f8f9fa;
} */

.navbar{
    width: 100%;
}
.navbar-toggler-icon{
    background-color: #f8f9fa;
}
.nav-item a{
    text-decoration: none;
    color: var(--bg-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
}
.nav-item a:active{
    color: var(--bg-color);
}
.nav-item a:visited{
    color: var(--bg-color);
}
.nav-item a:link{
    color: var(--bg-color);
}
.nav-item a:hover{
    color: #626567;
}
.navbar-brand{
    height: 50px;
    width: 100px;
}
/* search */
.search{
    height: 45px;
    outline: none;
    border: 2px solid var(--bg-color);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.btn1{
    height: 45px;
    outline: none;
    background-color: transparent;
    color: var(--bg-color);
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}
.btn1:hover{
    color: white;
    background-color: var(--bg-color);
}

.btn-theme {
    
}

/* menu list */
.navbar-toggler{
    font-size: 23px;
    color: black;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.bi.bi-search{
    background-color: transparent;
}
.bi.bi-search:hover{
    color: white;
    background-color: transparent;
}
/*************** Footer ****************/
li{
	list-style: none;
	text-decoration: none;
}
.line-footer{
    height: 3px;
    width: 15%;
    background: #97D700;
    display: inline-block;
}
.footer{
    padding: 70px 0;
}
.img-logo{
    background-color: transparent;
}
/* text-light */
.text-light a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	font-size: 15px;   
    color: var(--bg-color);
    transition: all 0.4s;
}
.text-light a:active, a:visited, a:link{
    color: var(--bg-color);
}
.text-light a:hover{
    color: #626567;
}
/* social media */
.bi-facebook{
	color: var(--bg-color);
}
.bi-instagram{
	color: var(--bg-color);
}
.bi-twitter{
	color: var(--bg-color);
}
.bi-linkedin{
	color: var(--bg-color);
}
.bi-facebook:hover, .bi-instagram:hover, .bi-linkedin:hover, .bi-twitter:hover{
    color: #97D700;
}