<footer class="footer bg-light">
    <div class="container">
        <div class="row bg-light">
            <div class="col-lg-3 my-2 bg-light">
                <h4  class="bg-light">Company</h4>
                <div class="line-footer mb-3"></div>
                <li class="bg-light"><a class="text bg-light" href="#">About us</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Our services</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Privacy policy</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Affiliate program</a></li>
            </div>
            <div class="col-lg-3 my-2 bg-light">
                <h4 class="bg-light">Help</h4>
                <div class="line-footer mb-3"></div>
                <li class="bg-light"><a class="text bg-light" href="#">About us</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Our services</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Privacy policy</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Affiliate program</a></li>
            </div>
            <div class="col-lg-3 my-2 bg-light">
                <h4 class="bg-light">Something</h4>   
                <div class="line-footer mb-3"></div>            
                <li class="bg-light"><a class="text bg-light" href="#">About us</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Our services</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Privacy policy</a></li>
                <li class="bg-light"><a class="text bg-light" href="#">Affiliate program</a></li>
            </div>
            
            <div class="col-lg-3 my-2 bg-light">
                <h4 class="bg-light">Follow us</h4>
                <div class="line-footer mb-3"></div>
                <h2 class="bg-light">
                    <a class="m-0" href="#"><i class="bi bi-facebook bg-light"></i></a>
                    <a class="m-2"></a>
                    <a class="m-2" href="#"><i class="bi bi-twitter bg-light"></i></a>
                    <a class="m-2" href="#"><i class="bi bi-instagram bg-light"></i></a>
                    <a class="m-2" href="#"><i class="bi bi-linkedin bg-light"></i></a>
                </h2>
            </div>
        </div>
    </div>
</footer>