<nav class="navbar navbar-expand-lg pb-2 bg-light mb-0"> 
  <div class="container bg-light pb-3">
    <a class="navbar-brand bg-light mt-3" href="index.html"><img src="img/logo.png" class="img-fluid bg-light"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon pt-1"><i class="bi bi-list bg-light"></i></span>
    </button>
    <div class="collapse navbar-collapse bg-light align-bottom mt-4" id="navbarSupportedContent">
      <ul class="navbar-nav mt-0 m-auto mb-4 mb-lg-0 bg-light">
        <li class="nav-item mt-3 bg-light">
          <a class="nav-link active bg-light" aria-current="page" href="../a-crise-da-fome.html">A CRISE DA FOME</a>
        </li>
        <li class="nav-item mt-3 bg-light">
          <a class="nav-link active bg-light" aria-current="page" href="../impacto-global.html">IMPACTO GLOBAL</a>
        </li>
        <li class="nav-item mt-3 bg-light">
          <a class="nav-link active bg-light" aria-current="page" href="../fome-zero.html">FOME ZERO</a>
        </li>
        <li class="nav-item mt-3 bg-light">
          <a class="nav-link active bg-light" aria-current="page" href="../tome-uma-atitude.html">TOME UMA ATITUDE</a>
        </li>
      </ul>
      <form class="d-flex mt-0 bg-light">
        <input class="px-2 search" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn1 px-3" type="submit"><i class="bi bi-search"></i></button>
      </form>
  </div>
</div>
</nav>